.container {
  width: 70%;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  text-align: justify;
  margin-top: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  flex: wrap;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  width: 150px;
  border-radius: 20px;
  margin: 1.5rem;
  cursor: pointer;
}

.soloImg {
  width: 300px;
  border-radius: 10px;
  margin-top: 3rem;
}

.info {
  display: flex;
  flex: wrap;
  flex-direction: row;
  margin-top: 2rem;
  color: rgb(236, 63, 63);
  /* text-shadow: 2px 2px #ff0000; */
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.marginInfo {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.header {
  text-align: center;
  font-size: 2rem;
  color: #f3aa34;
  text-shadow: 3px 3px #000000;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .img {
    width: 100px;
    margin: 1rem;
  }
  .soloImg {
    width: 250px;
    margin-top: 2rem;
  }
  .info {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  .img {
    width: 140px;
    margin: 1rem;
  }
  .soloImg {
    width: 250px;
  }
  .info {
    flex-direction: column;
  }
}
