.container {
  width: 100%;
  color: white;
  margin: 2rem;
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  border-radius: 10px;
  margin: auto;
  margin-top: 8rem;
  width: 90%;
}

.img {
  border-radius: 10px;
  margin-right: 1rem;
}

.info {
  color: white;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.table {
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.header {
  font-size: 3rem;
  text-align: center;
  color: brown;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.marginInfo {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@media only screen and (max-width: 600px) {
  .container {
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
  }
}
