.container {
  width: 100%;
  margin-bottom: 5rem;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  text-align: justify;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex: wrap;
  flex-direction: column;
  align-items: center;
  color: rgb(230, 230, 230);
  text-shadow: 2px 2px #000000;
}

.imgWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.img {
  width: 140px;
  margin-top: 2rem;
  border-radius: 20px;
  margin: 0.5rem;
  cursor: pointer;
}

.soloImg {
  width: 250px;
  margin-top: 2rem;
  border-radius: 10px;
}

.img:hover {
  filter: brightness(1.2);
}

.info {
  display: flex;
  flex: wrap;
  flex-direction: column;

  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.marginInfo {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-bottom: 1px solid #f3aa34;
}

.header {
  text-align: center;
  font-size: 2rem;
  color: #f3aa34;
  text-shadow: 3px 3px #000000;
  margin: 1rem;
}

@media (min-width: 1024px) {
  .img {
    width: 200px;
    margin: 1.5rem;
  }
  .soloImg {
    width: 300px;
    margin-top: 3rem;
  }
  .info {
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img {
    width: 200px;
    margin: 0.7rem;
  }
}
