.introHeader {
  color: #f3aa34;
  text-shadow: 5px 5px #000000;
  text-align: center;
  margin: auto;
  font-size: 6rem;
  margin-top: 7rem;
}

.header {
  color: #f3aa34;
  text-shadow: 5px 5px #000000;
  padding-top: 6rem;
  text-align: center;
  margin: auto;
  font-size: 6rem;
}

@media only screen and (max-width: 600px) {
  .introHeader {
    font-size: 3rem;
  }
  .header {
    font-size: 4rem;
  }
}
