.container {
  margin-top: 8.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 150px;
  border-radius: 10px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 20px;
  color: #f3aa34;
  text-shadow: 3px 3px #000000;
  cursor: pointer;
}

.backgroundImage:hover {
  filter: brightness(1.5);
}

.latest {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/082/605/original/abstact-red-line-background-overlapped-layers-on-black-background-template-for-your-banner-and-presentation-modern-design-illutration-vector.jpg");
}

.popular {
  background-image: url("https://cdn3.vectorstock.com/i/1000x1000/30/62/black-hexagonal-pattern-on-red-magma-background-vector-32223062.jpg");
}

.topRated {
  background-image: url("https://wallpaperbat.com/img/255939-black-and-red-wallpaperdownload-free-stunning-background.jpg");
}

@media only screen and (max-width: 600px) {
  .backgroundImage {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
  .container {
    margin-top: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .backgroundImage {
    width: 70%;
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    margin-top: 14rem;
  }
}
